.w3-theme {
    background-color : rgba(214, 158, 109, 0.842) !important;
}

.w3-bar-item w3-button w3-teal
{
    background-color :  rgba(214, 158, 109, 0.842) !important;
}

.w3-teal
{
    background-color :  rgba(214, 158, 109, 0.842) !important;
}